body 
{       
        background-color: #b7d0ba;
        text-align: center;
        color: #097C87;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#sidebarTitle{
    position: absolute;
    top: 5%;
    color:#F9D779;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: 700;
}

.mainContent{
    margin-left: 20%;
}

.contactsBox{
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

#contactTable{
    display:none;
    max-width: 100%;
    width: 100%;
    text-align:center;
    margin: 0 auto;
    border-color: black;
    border-style:solid;
    border-collapse: collapse;
    border-spacing: 0;
}

#contactTable th, #contactTable td{
    border-color: black;
    border-style:dotted;
    border-width: 1px;
    border-collapse: collapse;
    padding: 6px;
    word-wrap: break-word;
}

#Result {
    width: 70%;
    background-color: #097C87;
    display: none;
    text-align:center;
    margin: 0 auto;
    border-color: black;
    border-style: solid;
    border-collapse: collapse;
    border-width: 1px;
    font-family: "Courier New", Courier, monospace;
}
#Result thead{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #097C87;
    color: white;
}

#ResultBody tr:nth-child(even) {
    background-color: #F9D779; 
}

/* Odd rows (optional) */
#ResultBody tr:nth-child(odd) {
    background-color: #A1CCA6; 
}

@keyframes pulseBorder {
    0% { border-width: 1px; }
    50% { border-width: 2px; }
    100% { border-width: 1.75px; }
}

#Result th, #Result td{
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-collapse: collapse;
    padding: 6px;
    word-wrap: break-word;
}


.addContactPB{
    margin-left:auto;
    margin-right:auto;
    align-items: center; 
    background-color: white;
    width: 35%;
    height: 300px;
    display:none;
    justify-content: center;
    border-radius: 5px;
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.addContactPB input{
    display: flex;
    margin-left:auto;
    margin-right:auto; 
    width: 75%;
    height: 20px;
    border-radius: 7px;
}

#search{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10px;
    border-style: solid;
    border-color: #097C87;
    height: 20px;
    text-align: center;
}

#addContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color: #F9D779;
    border-radius: 50px;
    border-style: solid;
    border-color: rgb(247, 181, 137);
    border-width: 1.5px;
    text-align: center;
    align-items: center;
    padding: 15px;
    width: 30%;
    height: 17vh;
}

#firstN{
    top: 20%;
    margin-bottom: 3%;
    text-align: center;
    border-color: black;
    border-style:solid;
}
#lastN{
    left: auto;
    right: auto;
    margin-bottom: 3%;
    text-align: center;
    border-color: black;
    border-style:solid;
}

#phoneN{
    justify-content: center;
    margin-bottom: 3%;
    text-align: center;
    border-color: black;
    border-style:solid;
}

#email{
    margin-bottom: 3%;
    text-align: center;
    border-color: black;
    border-style:solid;
}

#verifyContact{
    display:inline-block;
    margin-right:auto; 
    margin-left:auto; 
}

#cancel{
    display:inline-block;
    margin-right:auto; 
    margin-left:auto; 
}

#signOutB{
    background-color: rgb(242, 77, 77);
    color: white;
    border-radius: 5px;
    position: fixed;
    right: 10px;
    top: 10px;

}

button.deleteButton{
    display: inline-block;
    background-color: rgb(255, 0, 0);
    border-radius: 15px;
    background-image: url(../images/trashCan.png);
    background-size: 60%; 
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    outline: none;
}

button.editButton{
    border-radius: 15px;
    background-color: rgb(255, 225, 0);
    display: inline-block;
    background-image: url(../images/pencilEdit.svg);
    background-size: 60%; 
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
}


#viewAll{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: auto; 
    margin-right: auto;
    background-color: #F9D779;
    width: 30%;
    border-radius: 50px;
    border-style: solid;
    border-color: rgb(247, 181, 137);
    border-width: 1.5px;
    height: 17vh;
    justify-content: center;
    padding: 12px;
    margin-bottom: 25%;
}
#viewAll img{
    margin-left:auto;
    margin-right: auto;
    width:95%;
    height: 90%;
    
}

#viewAll span{
    display:inline-flex;
    color: #097C87;
    margin-left: auto;
    margin-right: auto;
}

#load{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    color: #097C87;
    background-color: #F9D779;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(247, 181, 137);
    border-width: 1.5px;
}
.tensB{
    display: flex;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 50%;
}
#tens{
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    width:100%;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-collapse: collapse;
    font-family: "Courier New", Courier, monospace;
}
#tens thead{
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #097C87;
    color: white;
}

#tensBody tr:nth-child(even) {
    background-color: #F9D779; 
}

/* Odd rows (optional) */
#tensBody tr:nth-child(odd) {
    background-color: #A1CCA6; 
}
.sidebar{
    position: fixed;
    background-color:#097C87;
    left: 0px;
    top: 0px;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#addPlus{
    display: block;
    color: rgb(4, 197, 4);
    font-size: 5em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 900;
    
}

#addTxt{
    display: block;
    color:#097C87;
}

#searchTitle{
    display: none;
}