body 
{
        background-color: rgb(206, 153, 153)

    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
}


#signOutB{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(242, 77, 77);
    color: white;
    border-radius: 5px;
}
